
<h3> Users </h3>

<div class="well well-lg" *ngIf="sessionId">
  <button type="button" class="btn btn-primary" [disabled]='!hasSelectedRow()' (click)="this.kick()">
    Kick
  </button>
  <button type="button" class="btn btn-primary" [disabled]='!hasSelectedRow()' (click)="this.message()">
    Message
  </button>
  </div>
<table class="table table-hover">
    <thead>
      <tr>
      <th scope="col" *ngIf="!sessionId">session</th>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">ip</th>
      <th scope="col">auth</th>
      <th scope="col">mod</th>
      <th scope="col">muted</th>
      <th scope="col">op</th>
      <th scope="col">tls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instance of items;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
        <td *ngIf="!sessionId"><ng-container *ngIf="instance.session"><a routerLink="/sessions/{{instance.session}}">{{instance.session}}</a></ng-container></td>
        <td>{{ instance.id }}</td>
        <td>{{ instance.name }}</td>
        <td>{{ instance.ip }}</td>
        <td>{{ instance.auth? '✔️' : '❌' }}</td>
        <td>{{ instance.mod? '✔️' : '❌' }}</td>
        <td>{{ instance.muted? '✔️' : '❌' }}</td>
        <td>{{ instance.op? '✔️' : '❌' }}</td>
        <td>{{ instance.tls? '✔️' : '❌' }}</td>
      </tr>
    </tbody>
  </table>