
<h3> Users </h3>
<!-- 
<div class="well well-lg" *ngIf="selectedRow !== null">
  To edit id: <strong>{{users[selectedRow].id}}</strong> click here.
</div>
<div class="well well-lg" *ngIf="selectedRow === null">
  <BR>
</div> -->
<table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope="col" *ngFor="let key of keys">{{ key }}</th> -->
        
      <th scope="col">auth</th>
      <th scope="col">id</th>
      <th scope="col">ip</th>
      <th scope="col">mod</th>
      <th scope="col">muted</th>
      <th scope="col">name</th>
      <th scope="col">op</th>
      <th scope="col">tls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instance of users;let i = index" (click)="setClickedRow(i)"  [class.active]="i == selectedRow">
        <!-- <td *ngFor="let key of keys">{{ instance[key] }}</td> -->
        <td>{{ instance.auth? '✔️' : '❌' }}</td>
        <td>{{ instance.id }}</td>
        <td>{{ instance.ip }}</td>
        <td>{{ instance.mod? '✔️' : '❌' }}</td>
        <td>{{ instance.muted? '✔️' : '❌' }}</td>
        <td>{{ instance.name }}</td>
        <td>{{ instance.op? '✔️' : '❌' }}</td>
        <td>{{ instance.tls? '✔️' : '❌' }}</td>
      </tr>
    </tbody>
  </table>