<h2 mat-dialog-title><ng-container *ngIf="!isUpdate()">Add</ng-container><ng-container *ngIf="isUpdate()">Edit</ng-container> user</h2>
<mat-dialog-content>

        <table>
        <tbody>
                <tr>
                        <td align="left">Username:</td>
                        <td align="left"> <input required [(ngModel)]="username" placeholder="username"></td>
                </tr>
                <tr>
                        <td align="left">Password:</td>
                        <td align="left"><input [(ngModel)]="password" placeholder="password"></td>
                </tr>
                <tr>
                        <td align="left">Options:</td>
                        <td align="left"><input type="checkbox" [(ngModel)]="this.locked"/> Locked</td>
                </tr>
                <tr>
                        <td align="left"></td>
                        <td align="left"><input type="checkbox" [(ngModel)]="this.moderator"/> Moderator</td>
                </tr>
                <tr>
                        <td align="left"></td>
                        <td align="left"><input type="checkbox" [(ngModel)]="this.canHost"/> Can host</td>
                </tr>
                </tbody>
        </table>
</mat-dialog-content>
<mat-dialog-actions>
        <div>
                <button mat-button mat-dialog-close type="button" class="btn btn-primary">No</button>
                <button mat-button (click)="this.add()" type="button" class="btn btn-success">Yes</button>
        </div>
</mat-dialog-actions>